.container {
    margin: auto;
    font-family: "Poppins";
}
.bar{
    background: linear-gradient(-76deg, rgb(255, 166, 0) 50%, white 50%);
    flex-direction: column;

}
.navbar {
    float: right;
    text-decoration: none;
    display: inline-flex;
    font-size: x-large;
    color: black;
    padding: 40px;
    margin-right: 20px;
    position: absolute;
    top:0;
    right:0;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.home {
    margin-right: 20px;
    padding: 20px;
    text-decoration:underline 8px solid#ff7300;
}
li{
    list-style: none;
    justify-content: space-around;
    margin-right: 80px;;
}
.lastburger{
    font-size: 35px;
}
.firstdiv {
    display:flex;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
button {
    border: none;
    border-color: rgb(255, 166, 0);
    height: 50px;
    width: 120px;
    font-size: 20px;
    background-color: rgb(255, 166, 0);
    color: white;
    margin-top: 90px;
    border-radius: 45% 45% 0% 45%;
}
.bar{display: flex;}

.rain {
    padding-left: 20px;
    align-items: center;
    font-size: 30px;
}