.container {
    margin: auto;
    font-family: "Poppins";
}
.bar{
    background: linear-gradient(-76deg, rgb(255, 166, 0) 50%, white 50%);
    flex-direction: column;

}
li{
    list-style: none;
    justify-content: space-around;
    margin-right: 80px;
}
a{
    text-decoration: none;
    color: black;
}
.lastburger{
    font-size: 35px;
}
.navbar {
    float: right;
    text-decoration: none;
    display: inline-flex;
    font-size: x-large;
    color: black;
    padding: 40px;
    margin-right: 20px;
    position: absolute;
    top:0;
    right:0;
    justify-content: space-between;
}
.home {
    margin-right: 20px;
    padding: 20px;
    text-decoration:underline 8px solid#ff7300;
}

.icon{
    font-family: Lobster;
    font-size: 35px;
}
.firstdiv {
    display:flex;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    border-color: rgb(255, 166, 0);
    height: 50px;
    width: 120px;
    font-size: 20px;
    background-color: rgb(255, 166, 0);
    color: white;
    margin-top: 90px;
    border-radius: 45% 45% 0% 45%;
}

.rain {
    padding-left: 20px;
    align-items: center;
    font-size: 30px;
}
.deliveries {
    display: flex;
    float: left;
    background-color: rgb(239, 253, 255);
    padding: 100px 10px 100px 10px;
    height:100%;

}
.qualityburgers {
    border: 1.5px solid rgb(114, 69, 69);
    padding: 10px;
    margin: 20px;
    float: left;
    width: 30%;
    text-align: center;
    border-radius: 25px;
}
.fastdelivery {
    border: 1.5px solid rgb(114, 69, 69);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 20px;
    margin-right: 0px;
    float: left;
    width: 40%;
    height: 200px;
    text-align: center;
    border-radius: 25px;
}
.deliciousmeals {
    border: 1.5px solid rgb(114, 69, 69);
    padding: 10px;
    margin: 20px;
    float: left;
    width: 30%;
    text-align: center;
    border-radius: 25px;
}
.menu {
    display: inline-block;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
}
.menu>h1 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 166, 0);
    text-decoration-thickness: 10px;
}
.topleft {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    margin-left:5%;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.topcenter {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.topright {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.amount {
    display: flex;
    justify-content: space-between;
}
.cart {
    float: right;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(239, 253, 255);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(239, 253, 255);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(239, 253, 255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(239, 253, 255);
    background-color: rgb(239, 253, 255);
    border-radius: 15px;
    text-align: right;
    display: inline-flex;
}
.bottomleft {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    margin-left:5%;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}

.bottomcenter {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    float: left;
    width: 25%;
    border-radius: 25px;
}
.bottomright {
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    padding: 20px;
    margin: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.doubledecker {
    display: flex;
    background-color: rgb(239, 253, 255);
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}
.double{
    justify-content: space-between;
    font-size:30px;

}
.dot{
    height: 25px;
    width:25px;
    background-color:#bbb ;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    margin: 20px;
    margin-top: 100px;
}

.dot1{
    height: 25px;
    width:25px;
    background-color:rgb(255, 196, 0) ;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    margin: 20px;
    margin-top: 100px;
}

.mobileapps {
    display: flex;
    padding: 100px;
    background-color: #F6B400;
    justify-content: space-between;

}

.google {
    padding: 50px;
    margin-left: 20px;
}

.lastdiv {
    background-color: rgb(239, 253, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first {
    display: flex;
    font-family: "helvetica";
    margin: 0%;
    margin-right: 60px;
    align-items: center;
}
.fist{
     display: flex;
     font-family: "helvetica";
     margin-right: 60px;
     align-items: center;
 }
.sitemap {
    margin-right: 60px;
}
.Subscriber {
    margin-right: 20px;
}
.form {
    height: 50px;
    padding: 50px;
}
#submit {
    background-color: #F6B400;
    border-style: none;
    padding: 8px;
}
#fname {
    padding: 8px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    height: 30px;
}